
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>


    </style>
</head>

<body style="background-color: #e3e7eb;">
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/image/dumbways logo.jpg" style="height: 50px; width: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addproject">My Project</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonial</a>
                    </li>
                </ul>
                <div style="display: flex; justify-content: start; margin: 10px; gap:20px;">
                    <li class="nav-item" style="display: flex; justify-content: center;"><a aria-current="page"
                            style="text-decoration: none; color: black  ; " href="/login">login</a></li>
                    <li class="nav-item" style="display: flex; justify-content: center;"><a aria-current="page"
                            href="/register" style="text-decoration: none; color: black;">Register</a></li>
                </div>
               
                <form class="d-flex">
                    <button class="btn btn-secondary rounded-pill " type="submit"><a href="/contact" style="color: white; text-decoration: none;">Contact Me</a></button>
                </form>
            </div>
        </div>
    </nav>
    
    <div class="col-12 mt-5" style="background-color: #e3e7eb; display: flex;justify-content: center;margin-left:-4%; ">
        <div class="col-md-4 mx-auto" style=" padding: 20px; border-radius: 10px; margin-right: 100px;">

            <form class="col-12 " style="width: 33em;">
                <div class="col-12 w-10 p-100 rounded" style="background-color: white; height: 27em; padding: 20px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;  backdrop-filter: blur(14px)">
                    <h3 style="margin-left: 18%; margin-top: 10px;">REGISTER YOUR ACCOUNT</h3>
                    <div class="mb-2 mt-4 ms-5 ">
                        <label for="inputName" class="d-flex fw-bold">Name</label>
                        <input type="name" id="inputName" class="form-control" style="height: 40px; width: 90%; " />
                    </div>

                    <div class="mb-2 mt-4 ms-5 ">
                        <label for="inputEmail" class="d-flex fw-bold">Email</label>
                        <input type="email" id="inputEmail" class="form-control"
                            style="height: 40px; width: 90%;" />
                    </div>
                    <div class="mb-2 mt-4 ms-5 ">
                        <label for="inputPassword" class="d-flex fw-bold">Password</label>
                        <input type="password" id="inputPassword" class="form-control"
                            style="height: 40px; width: 90%;" />
                    </div>
                    <div class="d-flex justify-content-end mt-4">
                        <button type="button" class="btn btn-secondary rounded-pill"
                            style=" margin-right: 50px; width: 90px;" onclick="submitData()">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    </div>
   
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>

</html>