<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogDetail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
<nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/assets/image/dumbways logo.jpg" style="height: 50px; width: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addproject">My Project</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link" href="/testimonial">Testimonial</a>
                    </li>
                </ul>
                <div style="display: flex; justify-content: start; margin: 10px; gap:20px;">
                    <li class="nav-item" style="display: flex; justify-content: center;"><a aria-current="page"
                            style="text-decoration: none; color: black  ; " href="/login">login</a></li>
                    <li class="nav-item" style="display: flex; justify-content: center;"><a aria-current="page"
                            href="/register" style="text-decoration: none; color: black;">Register</a></li>
                </div>
               
                <form class="d-flex">
                    <button class="btn btn-secondary rounded-pill " type="submit"><a href="/contact" style="color: white; text-decoration: none;">Contact Me</a></button>
                </form>
            </div>
        </div>
    </nav>
    
        <div class="card mb-3 gap-5" style="background-color: #e3e7eb;">
            <h1 style="display: flex; justify-content: center; margin: 10px;">Dumbways Web APP</h1>
            <div class="row g-0">
                <div class="col-md-7">
                    <img src="./assets/image/logo5.jpg" class="img-fluid rounded-start" alt="logo"
                        style="width: 90%; height: auto;">
                </div>
                <div class="col-md-4">
                    <div class="ml-1 mt-4  gap-2">
                        <h5 class="card-title">Duraction</h5>
                        <div class="d-flex flex-column align-items-start gap-2">
                            <a><i class="fa-solid fa-calendar-days fa-xl"></i>12 Jan 2021 - 11 Feb 2021</a>
                            <a><i class="fa-solid fa-clock fa-xl"></i>1 Month</a>
                        </div>
                    </div>
                    <div class="mt-5">
                        <h5>Technologies</h5>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="d-flex flex-column align-items-start gap-2">
                                    <a><i class="fa-brands fa-react fa-xl"></i>React js</a>
                                    <a><i class="fa-brands fa-js fa-xl"></i>Java Script</a>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="d-flex flex-column align-items-start gap-2">
                                    <a><i class="fa-brands fa-node-js fa-xl"></i>Node js</a>
                                    <a><i class="fa-brands fa-vuejs fa-xl"></i>Vue js</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="mt-5">
                    <p>
                        Lorem ipsum dolor sit am
                        et, consectetur adipiscing elit. Faucibus morb
                        i diam, sed elementum semper luctus. Venenatis la
                        oreet id morbi amet, sit volutpat pulvinar scelerisque
                        tempor. Integer pulvinar ultrices fermentum proin quam fermentum interd
                        um eu. Sapien nulla gravida imperdiet eget tincidunt. Dict
                        um venenatis urna, quam feugiat malesuada arcu quam. Congue id auctor blandit felis pulvin
                        ar tincidunt erat nec volutpat. Tellus quisque tortor aenean neque, neque dolor justo. Nec
                        facili
                        sis morbi ac condimentum odio. Dolor, dignissim viverra iaculis consectetur integer ipsum, e
                        gestas. Sed nunc, tristique suspendisse ut quisque vitae adipiscing. Ac pellentesque sed nunc,
                        qui
                        sque risus. Id in magnis mi justo, placerat. In curabitur nunc egestas
                        in pellentesque non. Eu nunc eros, quisque feugiat. Commodo, ipsum scelerisque tristique
                        nisl orci massa. Viverra nulla sit tortor, nisi, arcu nec. Augue volutpa
                        t massa adipiscing rhoncus sit non vel. Cursus purus est vestibulum viverra. Rhoncus
                        ibendum mi. Ornare nulla sed viverra semper et interdum nisi tellus. In euismod nulla sed
                        nam lorem urna. Tortor, integer viverra sit nibh. Interdum vel et sagittis, phasellus ultricies.
                        Nulla luctus in mattis in. Duis in feugiat vestibulum, sit venenatis suscipit ultricies elit. U
                        t in amet leo imperdiet nunc. Ornare scelerisque commodo ut praesent tellus proin dolor non
                        turpis
                        . Nunc, tempor ornare enim, et faucibus tortor, pharetra, phasellus. Tortor viverra ullamcorper
                        co
                        mmodo nunc. Odio id dignissim est ipsum sed nibh odio faucibus odio. Urna scelerisque eu, eu, ac
                        amet turpis leo. Mi, molestie aliquam odio eleifend nisi, sed mauris accumsan etiam. At ut fring
                        illa tempor, elit, velit. Eget in et sapien, ac. At pulvinar nisi nibh non. Dictum lacus congu
                        e dui est, etiam tortor massa vulputate morbi. Fermentum et at convallis nunc pharetra. Faucib
                        us ac pulvinar magna morbi turpis pulvinar tristique suspendisse suscipit. Justo, quam ultrices
                        feugiat mattis dignissim id sollicitudin cras libero. Velit ultrices nulla ultricies eu,
                        elementum. Sit tellus varius scelerisque augue pretium. Faucibus mauris consectetur fermenturrn
                        massa donec faucibus quam eu. Interdum tristique vitae sed blandit placerat nullam elit. Vel
                        mollis eget ut ipsum, curabitur. Fermentum nisi, nec amet sit netus venenatis feugiat. Sed
                        tortor magna eget gravida. Tellus nec dolor magna nulla. Ut congue porttitor phasellus ac
                        senectus. Sem sed sagittis enim nulla dolor. Egestas cras euismod mi sed. Tincidunt tortor sed
                        dui senectus augue a eget mollis odio. Et ultrices rrnauris et dolor et amet, habitasse. Nulla
                        massa mauris vestibulum aliquet ornare porttitor. Lacus ultricies eget dui feugiat sit lorem
                        dolor, mauris. Nunc ipsum lectus at mauris egestas. Vitae pulvinar tellus neque elit blandit
                        sodales. Fringilla non, neque risus id iaculis volutpat aliquet luctus adipiscing. Eu tincidunt
                        ante morbi cursus risus adipiscing nam. Nec, urna, ut amet, neque enim nam nibh. Lectus sed
                        suscipit sed non arcu, sed
                        in suscipit. Lectus in ut volutpat donec id sed. Tellus ut aliquet porttitor.
                    </p>

                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>

    </body>

</html>